* {
    font-family: "Open Sans", Arial, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

body {
    padding: 10px 30px;
}

a {
    color: #a266bb;
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: black;
}

h1 {
    font-size: 28px;
    font-weight: 100;
    float: left;
    overflow: hidden;
}

ul.counts {
    overflow: hidden;
    list-style-type: none;
    margin: 22px 0 0 20px;
    float: left;
}

ul.counts li {
    float: left;
    overflow: hidden;
    margin-right: 15px;
    padding: 0 10px 0 10px;
    border-radius: 20px;
}

ul.counts li.valid {
    background-color: #e4f5d0;
}

ul.counts li.invalid {
    background-color: #f5f2d0;
}

ul.counts li.uploaded {
    background-color: #d0e6f5;
}

ul.counts li.deleted {
    background-color: #f5d0df;
}

div.buttons {
    clear: both;
    float: left;
    margin-bottom: 18px;
    overflow: hidden;
}

div.droppable {
    clear: both;
    overflow: hidden;
    background-color: #f6f6f6;
    width: 70%;
    height: 70%;
    padding: 20px;
    box-shadow: inset 0 0 125px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .15);
}

div.droppable div.file {
    border: 1px solid rgba(0, 0, 0, .15);
    margin: 0 20px 20px 0;
    background-color: white;
    float: left;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    position: relative;
    overflow: hidden;
    border: 4px solid white;
}

div.droppable a.remove {
    position: absolute;
    background: rgba(0, 0, 0, .55);
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    padding: 0 8px 0 8px;
    cursor: pointer;
    z-index: 1;
}

div.droppable div.file img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.droppable div.file.extension-txt {
    background: white url('./../document.png') no-repeat center center;
}