* {
    font-family: "Open Sans", Arial, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 30px;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 22px;
}

ul.counts {
    list-style-type: none;
    overflow: hidden;
}

ul.counts li {
    float: left;
    overflow: hidden;
    font-family: "Times New Roman", serif;
    font-style: italic;
    letter-spacing: 0.125em;
    margin-right: 15px;
}

div.buttons {
    overflow: hidden;
    margin: 15px 0;
}

h3.uploading-percentage {
    margin-bottom: 15px;
}

div.buttons button.btn {
    float: left;
    margin-right: 10px;
    background-color: lightseagreen;
    border: 0;
    color: white;
    padding: 8px 20px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all 1s;
}

div.buttons button.btn:hover {
    background-color: black;
}

div.droppable {
    background-color: #eee;
    height: 300px;
    width: 620px;
    position: relative;
    padding: 20px;
}

div.droppable:after {
    content: "Drop your files here, petal.";
    font-family: "Times New Roman", serif;
    color: darkgray;
    font-size: 14px;
    font-style: italic;
    position: absolute;
    top: 20px;
    left: 20px;
}

div.droppable div.file {
    width: 100px;
    height: 100px;
    background-color: white;
    float: left;
    position: relative;
    margin: 0 20px 20px 0;
    z-index: 20001;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    transition: all .45s;
    -o-transition: all .45s;
    -moz-transition: all .45s;
    -webkit-transition: all .45s;
}

div.droppable div.file:nth-of-type(5n+5) {
    margin-right: 0;
}

div.droppable div.file:after {
    content: "";
    position: absolute;
    width: 100px;
    box-sizing: border-box;
    z-index: 20001;
    height: 100px;
    border: 3px solid rgba(0, 0, 0, .25);
    left: 0;
    top: 0;
}

div.droppable div.file img {
    width: 100px;
    height: 100px;
}

div.droppable div.file a.remove {
    position: absolute;
    background-color: rgba(0, 0, 0, .45);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: white;
    font-family: "Lato", sans-serif;
    padding: 0 6px;
    font-weight: 100;
    z-index: 30001;
    cursor: pointer;
}

div.droppable input.files {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: "Times New Roman", serif;
    font-style: italic;
    color: darkgray;
}

div.droppable div.error {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20005;
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

div.droppable:hover div.file:hover {
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}